.cards
{
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.cards h3
{
    text-align: center;
    font-family: NexaFont;
}

.card
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 350px;
    padding: 20px;
    border-radius: 20px;
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.25);
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.25);
    transform: scale(1);
    transition: all 0.5s;
    margin: 50px auto 50px;
}

.card:hover
{
    transform: scale(1.03);
    -webkit-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.50);
    -moz-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.50);
    box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.50);
}

.card img
{
    background-position: center;
}

.card .InstituiçãoText
{
    color: #0096B6;
}

.card .AtividadesText
{
    color: #f5cc18;
}

.card .DoaçõesText
{
    color: #e21818;
}

.card .FaleConoscoText
{
    color: #ec6c22;
}
