.relato
{
    display: flex;
    justify-content: center;
    padding: 60px;
    flex-wrap: wrap;
}

.relatoNaninho, .relatoExAluno
{
    display: flex;
    align-items: center;
    padding: 60px 40px;
    height: 980px;
    width: 430px;
    flex-direction: column;
    border-radius: 50px;
    -webkit-box-shadow: 0px 10px 24px 0px rgba(66, 68, 90, 0.200);
    -moz-box-shadow: 0px 10px 24px 0px rgba(66, 68, 90, 0.200);
    box-shadow: 0px 10px 24px 0px rgba(66, 68, 90, 0.200);
}

.relatoNaninho
{
    margin-right: 60px;
}

.relatoExAluno
{
    margin-left: 60px;
}

.relatoNaninho img, .relatoExAluno img
{
    border-radius: 100%;
    width: 300px;
    height: 300px;
}

.relatoNaninho h2, .relatoExAluno h2
{
    text-align: center;
    font-size: 30px;
    font-family: NexaFont;
    font-weight: bold;
}

.relatoNaninho h3, .relatoExAluno h3
{
    text-align: center;
    font-size: 20px;
    font-family: NexaFont;
    font-weight: bold;
}

.relatoNaninho p, .relatoExAluno p
{
    text-align: center;
    font-size: 20px;
    font-family: NexaFont;
}
