
.logo
{
    width: 200px;
    padding: 15px;
    padding-bottom: 18px;
}

.buttonsH
{
    width: 422px;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 50px 30px 0px 0px;
    font-family: NexaFont;
    font-weight: bold;
}

.buttonH
{
    border: none;
    background-color: transparent;
    font-family: NexaFont;
    font-weight: bold;

}

.help 
{
    padding: 45px;
}

.helpB
{
    padding: 10px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    border: none;
    background-color: white;
    color: #bd1616;
    font-family: NexaFont;
    font-weight: bold;
}

header
{
    display: flex;
    justify-content: space-between;
    scroll-behavior: smooth;
    background: linear-gradient(rgb(214, 24, 24), #bd1616 90%,  rgb(165, 28, 28));
}

header .hamburguer, header .overlay
{
    display: none;
}
.closeButton
{
    z-index: 3;
    display: none;
}