@media(max-width:760px)
{
    *
    {
        align-items: center;
    }

    /*Header*/
    header .buttonsH, .help
    {
        display: none;
    }

    header .logo
    {
        padding: 0;
        transform: scale(0.85);
    }

    header .hamburguer 
    {
        display: inline-block;
        padding: 38px 30px;
    }
      
    .bar1, .bar2, .bar3 
    {
        width: 35px;
        height: 5px;
        background-color: white;
        margin: 6px 0;
    }
      
    .closeButton .bar1 
    {
        transform: translate(0, 5px) rotate(-44deg);
    }
      
    .closeButton .bar3 
    {
        transform: translate(0, -5px) rotate(45deg);
    }

    .closeButton
    {
        position: absolute;
        top: 45px;
        right: 30px;
    }

    .overlay 
    {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgb(255, 255, 255);
        z-index: 2;
        padding: 90px 0px 120px;
        box-sizing: border-box;
        font-family: NexaFont;
        font-weight: bold;
    }

    .overlay.active 
    {
        display: block;
    }

    .overlay a 
    {
        display: block;
        padding: 30px 20px;
        font-size: 18px;
        color: #eec71c;
        text-decoration: none;
        text-align: center;
    }
    /*header*/


    /*Texto da página e banner*/
    .bannerImage
    {
        height: 26vh;
    }
    .titleB{
        font-size: 24px;
    }
    .textoInicial{
        height: auto;
        width: 48vh;
        padding-bottom: 24px;
    }
    .tituloInicial{
        font-size: 22px;
    }
    .paragrafoInicial{
        font-size: 12px;
    }
    /*Texto da página e banner*/

    /*atividades*/
    .tituloAA{
        width: 220px;
        font-size: 18px;
        margin-bottom: 2%;
    }

    .Container{
        flex-wrap: wrap;
    }
    .card1, .card2, .card3{
        width: 270px;
        height: 360px;
        margin: 20px;
        
    }
    .textoCard{
        font-family: CocoGothicFont;
        padding: 0px 5px 5px 5px;
        font-size: 14px;
    }

    .tituloCard{
        font-size: 18px;
    }
    .subtituloCard{
        font-size: 15px;
        padding-left: 2px;
        padding-right: 2px;
        padding-top: 5px;
    }
    
    

    /*atividades*/

    /*footer*/
.Logof{
    display: none;
}
.copy
{
    font-size: 9px;
    padding: 0px;
}
.copyrightF
{
    padding: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.textF{
    display: none;
}
footer{
    display: flex;
    flex-direction: column;
    scroll-behavior: smooth;
    height: 160px;
}
.fdiv{
    padding: 0px;
    height: 20px;
}
.titleF{
    font-size: 14px;
    width: 100px;
}
.othersF{
    display: none;
}
.numero{
    display: none;
}
.contato{
    display: none;
}
.buttonsF
{
    margin: auto;
    width: 100px;
    display: flex;
    flex-direction: column;
}
.u{
    padding-top: 0px;
}
#None{
    display: none;
}
.u .l{
    width: 20px;
    height: 20px;
}
.u .l:hover{
    height: 18px;
    width: 100px;
}
.u .l .icone{
    font-size: 12px;
    transition: .2s;
}

.u .l .texto{
    transform: scale(0);
    transition: .2s;
    font-size: 12px;
}
#paginaInicial{
    display: block;
}
}